@import "../../../styles/variables";

#dashboard[data-dashboard] {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // min-height: 100vh;
  // max-width: 1920px;
  padding-top: 85px;
  margin: 0 auto;
}

.center-court-message[data-dashboard] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-courts[data-dashboard] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > p:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  > img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100px;
  }
  // }
}

#add-court-button[data-dashboard] {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    // margin-bottom: 15px;
  }
  @media (min-width: 769px) {
    justify-content: flex-start;
  }
}

#schedule-filter[data-dashboard] {
  display: grid;
  > div {
    align-self: center;
  }
  @media (max-width: 350px) {
    // margin-bottom: 5px;
    > div {
      // margin: 8px 0;
    }
  }
  @media (min-width: 351px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  @media (min-width: 769px) {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

#dashboard-tools[data-dashboard] {
  width: 100%;
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto 10px auto;
  display: grid;
  @media (min-width: 351px) {
    grid-template-columns: 60% 40%;
    > div:first-of-type {
      display: flex;
      align-items: center;
    }
    > div:last-of-type {
      grid-template-columns: 1fr 1fr;
      align-self: end;
      gap: 15px;
    }
  }
  @media (min-width: 460px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 769px) {
    gap: 15px;
    grid-template-columns: 1fr 4fr 1fr;
  }
  @media (min-width: 993px) {
    gap: 15px;
    grid-template-columns: 1fr 2fr 1fr;
  }
}

#datepicker[data-dashboard] {
  margin-bottom: 300px;
}

#color-guide[data-dashboard] {
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * {
    display: flex;
    justify-content: flex-end;
    > p {
      margin-right: 5px;
      cursor: default;
    }
  }
}

.available[data-dashboard] {
  color: #9acd32;
}

.unavailable[data-dashboard] {
  color: $clay;
}

.you[data-dashboard] {
  color: #87ceeb;
}

// #schedule[data-dashboard] {
//   width: 100%;
// }

#hours-index[data-dashboard] {
  display: flex;
  position: sticky;
  top: 60px;
  overflow: auto;
  border-top: solid 1px $light-grey;
  border-bottom: solid 1px $light-grey;
  margin-bottom: 10px;
  background-color: $white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#hours-index[data-dashboard]::-webkit-scrollbar {
  display: none;
}

.hour-index[data-dashboard] {
  min-width: 60px;
  height: 40px;
  // width: 100%;
  border-right: solid 1px $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  > p {
    font-weight: bold;
    cursor: default;
  }
  &:last-of-type {
    border-right: none;
  }
}

#court-info-index[data-dashboard] {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
  > p {
    font-weight: bold;
    &:first-of-type {
      margin-right: 20px;
    }
  }
}

.court[data-dashboard] {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 25px;
  }
}

.court-info[data-dashboard] {
  cursor: default;
  margin: 0 20px 3px 5px;
  display: flex;
  > .court-number {
    width: 56px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
  > .court-type {
    margin-right: auto;
  }
  > div {
    display: flex;
    > div {
      > .fas {
        cursor: pointer;
      }
      &:last-of-type > i {
        color: $clay;
        margin-left: 10px;
      }
    }
  }
}

.hours[data-dashboard] {
  display: flex;
  overflow: auto;
  > div {
    // width: 100%;
    min-width: 60px;
    cursor: pointer;
  }
  > div:last-of-type > div {
    border-right: none;
  }
}

.hour[data-dashboard] {
  height: 25px;
  border-right: solid 1px $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show[data-dashboard] {
  display: block;
}

.hide[data-dashboard] {
  display: none;
}
