@import "../../../styles/variables";

#dashboard[data-dashboard] {
  width: 100%;
  max-width: 1920px;
  padding-top: 85px;
  margin: 0 auto;
}

#sections[data-dashboard] {
  width: 90%;
  max-width: 992px;
  margin: 0 auto 25px auto;
  gap: 20px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

#schedule-filter[data-dashboard] {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: $small-border-radius;
}

#options[data-dashboard] {
  min-height: 250px;
  border-radius: $small-border-radius;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @media (min-width: 401px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  > div {
    padding: 15px;
  }
}

.dashboard-functions[data-dashboard] {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  > div {
    color: $clay;
    cursor: pointer;
    > p {
      display: inline-block;
    }
  }
}

.active[data-dashboard] {
  font-weight: bold;
  margin-left: 5px;
}

#datepicker[data-dashboard] {
  margin-bottom: 300px;
}

#color-guide[data-dashboard] > * {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 5px 0;
}

#color-guide[data-dashboard] > * > p {
  margin-right: 5px;
  cursor: default;
}

.available[data-dashboard] {
  color: rgb(154, 205, 50);
}

.unavailable[data-dashboard] {
  color: $clay;
}

.you[data-dashboard] {
  color: rgb(135, 206, 235);
}

#schedule[data-dashboard] {
  width: 100%;
}

#hours-index[data-dashboard] {
  display: flex;
  position: sticky;
  top: 60px;
  overflow: auto;
  border-top: solid 1px $light-grey;
  border-bottom: solid 1px $light-grey;
  margin-bottom: 10px;
  background-color: $white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#hours-index[data-dashboard]::-webkit-scrollbar {
  display: none;
}

.hour-index[data-dashboard] {
  min-width: 60px;
  height: 40px;
  width: 100%;
  border-right: solid 1px $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  > p {
    font-weight: bold;
    cursor: default;
  }
  &:last-of-type {
    border-right: none;
  }
}

#court-info-index[data-dashboard] {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
  > p {
    font-weight: bold;
    &:first-of-type {
      margin-right: 20px;
    }
  }
}

.court[data-dashboard] {
  margin-bottom: 10px;
}

.court:last-of-type {
  margin-bottom: 0;
}

.hours[data-dashboard] {
  display: flex;
  overflow: auto;
}

.court-info[data-dashboard] {
  cursor: default;
  margin: 0 20px 0 5px;
  display: flex;
  > .court-number {
    width: 56px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
  }
  > .court-type {
    margin-right: auto;
  }
  > div > .fas,
  > .fas {
    cursor: pointer;
  }
  > .fa-trash {
    color: $clay;
    margin-left: 10px;
  }
}

.hour[data-dashboard] {
  border-right: solid 1px $dark-grey;
  min-width: 60px;
  width: 100%;
  height: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  &:last-of-type {
    border-right: none;
  }
}
