#dashboard[data-dashboard] {
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  padding-top: 85px;
  margin: 0 auto;
}

.center-court-message[data-dashboard] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-courts[data-dashboard] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no-courts[data-dashboard] > p:first-child {
  margin-right: 0;
  margin-bottom: 20px;
}
.no-courts[data-dashboard] > img {
  margin-right: 0;
  margin-bottom: 20px;
  width: 100px;
}

#add-court-button[data-dashboard] {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#schedule-tools[data-dashboard] {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#schedule-filter[data-dashboard] {
  display: flex;
}

#datepicker[data-dashboard] {
  margin-bottom: 300px;
}

#color-guide[data-dashboard] > * {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 5px 0;
}
#color-guide[data-dashboard] > * > p {
  margin-right: 5px;
  cursor: default;
}

.available[data-dashboard] {
  color: #9acd32;
}

.unavailable[data-dashboard] {
  color: #ff4635;
}

.you[data-dashboard] {
  color: #87ceeb;
}

#schedule[data-dashboard] {
  width: 100%;
}

#hours-index[data-dashboard] {
  display: flex;
  position: sticky;
  top: 60px;
  overflow: auto;
  border-top: solid 1px #d3d3d3;
  border-bottom: solid 1px #d3d3d3;
  margin-bottom: 10px;
  background-color: #ffffff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#hours-index[data-dashboard]::-webkit-scrollbar {
  display: none;
}

.hour-index[data-dashboard] {
  min-width: 60px;
  height: 40px;
  width: 100%;
  border-right: solid 1px #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hour-index[data-dashboard] > p {
  font-weight: bold;
  cursor: default;
}
.hour-index[data-dashboard]:last-of-type {
  border-right: none;
}

#court-info-index[data-dashboard] {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
}
#court-info-index[data-dashboard] > p {
  font-weight: bold;
}
#court-info-index[data-dashboard] > p:first-of-type {
  margin-right: 20px;
}

.court[data-dashboard] {
  margin-bottom: 10px;
}
.court[data-dashboard]:last-of-type {
  margin-bottom: 25px;
}

.court-info[data-dashboard] {
  cursor: default;
  margin: 0 20px 3px 5px;
  display: flex;
}
.court-info[data-dashboard] > .court-number {
  width: 56px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
.court-info[data-dashboard] > .court-type {
  margin-right: auto;
}
.court-info[data-dashboard] > div {
  display: flex;
}
.court-info[data-dashboard] > div > div > .fas {
  cursor: pointer;
}
.court-info[data-dashboard] > div > div:last-of-type > i {
  color: #ff4635;
  margin-left: 10px;
}

.hours[data-dashboard] {
  display: flex;
  overflow: auto;
}
.hours[data-dashboard] > div {
  width: 100%;
  min-width: 60px;
  cursor: pointer;
}
.hours[data-dashboard] > div:last-of-type > div {
  border-right: none;
}

.hour[data-dashboard] {
  height: 25px;
  border-right: solid 1px #808080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show[data-dashboard] {
  display: block;
}

.hide[data-dashboard] {
  display: none;
}
