#dashboard[data-dashboard] {
  width: 100%;
  max-width: 1920px;
  padding-top: 85px;
  margin: 0 auto;
}

#sections[data-dashboard] {
  width: 90%;
  max-width: 992px;
  margin: 0 auto 25px auto;
  gap: 20px;
}
@media (max-width: 768px) {
  #sections[data-dashboard] {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  #sections[data-dashboard] {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

#schedule-filter[data-dashboard] {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

#options[data-dashboard] {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (min-width: 400px) {
  #options[data-dashboard] {
    min-height: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.dashboard-functions[data-dashboard] {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.dashboard-functions[data-dashboard] > div {
  color: #ff4635;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.dashboard-functions[data-dashboard] > div > p {
  display: inline-block;
}
@media (max-width: 400px) {
  .dashboard-functions[data-dashboard] {
    height: 100px;
  }
}

.dashboard-forms[data-dashboard] {
  margin: 15px;
}

#datepicker[data-dashboard] {
  margin-bottom: 300px;
}

#color-guide[data-dashboard] > * {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 5px 0;
}

#color-guide[data-dashboard] > * > p {
  margin-right: 5px;
  cursor: default;
}

.available[data-dashboard] {
  color: yellowgreen;
}

.unavailable[data-dashboard] {
  color: #ff4635;
}

.you[data-dashboard] {
  color: skyblue;
}

#schedule[data-dashboard] {
  width: 100%;
}

#hours-index[data-dashboard] {
  display: flex;
  position: sticky;
  top: 60px;
  overflow: auto;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  margin-bottom: 10px;
  background-color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#hours-index[data-dashboard]::-webkit-scrollbar {
  display: none;
}

.hour-index[data-dashboard] {
  min-width: 60px;
  height: 40px;
  width: 100%;
  border-right: solid 1px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hour-index[data-dashboard] > p {
  font-weight: bold;
  cursor: default;
}
.hour-index[data-dashboard]:last-of-type {
  border-right: none;
}

#court-info-index[data-dashboard] {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
}
#court-info-index[data-dashboard] > p {
  font-weight: bold;
}
#court-info-index[data-dashboard] > p:first-of-type {
  margin-right: 20px;
}

.court[data-dashboard] {
  margin-bottom: 10px;
}
.court[data-dashboard]:last-of-type {
  margin-bottom: 25px;
}

.court-info[data-dashboard] {
  cursor: default;
  margin: 0 20px 3px 5px;
  display: flex;
}
.court-info[data-dashboard] > .court-number {
  width: 56px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
.court-info[data-dashboard] > .court-type {
  margin-right: auto;
}
.court-info[data-dashboard] > div > .fas {
  cursor: pointer;
}
.court-info[data-dashboard] > div:last-of-type > i {
  color: #ff4635;
  margin-left: 10px;
}

.hours[data-dashboard] {
  display: flex;
  overflow: auto;
}
.hours[data-dashboard] > div {
  width: 100%;
  min-width: 60px;
  cursor: pointer;
}
.hours[data-dashboard] > div:last-of-type > div {
  border-right: none;
}

.hour[data-dashboard] {
  height: 25px;
  border-right: solid 1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show[data-dashboard] {
  display: block;
}

.hide[data-dashboard] {
  display: none;
}
