@import "styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}

body {
  padding-right: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  color: $font;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-thumb:active {
  background-color: #808080;
}

::-webkit-scrollbar-track:horizontal {
  border-top: solid 1px $light-grey;
  border-bottom: solid 1px $light-grey;
}

::-webkit-scrollbar-track:vertical {
  border-left: solid 1px $light-grey;
  border-right: solid 1px $light-grey;
}
