#background[data-access] {
  background-image: url("https://ik.imagekit.io/w1xennnidd/tennis_reservations/access-background-blurred_wFTcJoBgd.jpg");
  min-height: 100vh;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container[data-access] {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
#form-container[data-access] > div {
  width: 100%;
}
#form-container[data-access] > div > h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #808080;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 414px) {
  #form-container[data-access] {
    min-height: 100vh;
    border-radius: 0;
    max-width: none;
  }
}
@media (min-width: 415px) {
  #form-container[data-access] {
    display: flex;
    flex-direction: column-reverse;
    margin: 25px 10px;
  }
  #form-container[data-access] > div {
    width: 100%;
  }
}

.options[data-access] {
  text-align: right;
}

.options:first-of-type {
  margin-bottom: 10px;
}

#form > small {
  color: #ff0000;
  margin-bottom: 10px;
}

.input-error-div[data-access] {
  margin-bottom: 10px;
  position: relative;
}

.form-input[data-access] {
  outline: none;
  width: 100%;
  font-size: 1em;
  padding: 5px;
  height: 40px;
  border: solid 1px #d3d3d3;
  border-radius: 4px;
  color: #808080;
}
.form-input[data-access]:focus {
  box-shadow: 0px 0px 2px 2px #85b02b;
}

.country-list[data-access] {
  z-index: 1000;
  position: absolute;
  top: 45px;
  width: 100%;
  max-height: 230px;
  overflow: inherit;
  overflow-x: hidden;
  background-color: #ffffff;
  border: solid 1px #d3d3d3;
}

.no-options[data-access], .option[data-access] {
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #808080;
}

.option[data-access]:hover {
  color: #ffffff;
  background-color: #85b02b;
}

a {
  text-decoration: none;
  color: #85b02b;
}

#box {
  width: 320px;
}

#tabs[data-access] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px 15px 0 0;
}

.tab[data-access] > p {
  color: #808080;
  font-size: 1.3em;
  padding: 15px 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.shown[data-access] {
  border-bottom: solid 1px #85b02b;
}
.shown[data-access] > p {
  color: #85b02b;
}

.hidden[data-access] {
  border: none;
}
