@import "../../../styles/variables";

#background[data-access] {
  background-image: url("https://ik.imagekit.io/w1xennnidd/tennis_reservations/access-background-blurred_wFTcJoBgd.jpg");
  min-height: 100vh;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container[data-access] {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: $big-border-radius;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  > div {
    width: 100%;
  }
  > div > h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: $dark-grey;
    text-align: center;
    margin-bottom: 10px;
  }
  @media (max-width: 414px) {
    min-height: 100vh;
    border-radius: 0;
    max-width: none;
  }
  @media (min-width: 415px) {
    display: flex;
    flex-direction: column-reverse;
    margin: 25px 10px;
    > div {
      width: 100%;
    }
  }
}

.options[data-access] {
  text-align: right;
  > a {
    text-decoration: none;
    color: $grass;
  }
  &:first-of-type {
    margin-bottom: 10px;
  }
}

.input-error-div {
  margin-bottom: 10px;
  position: relative;
}

.button[data-access] {
  margin-bottom: 5px;
}
