nav[data-header] {
  width: 100%;
  height: 60px;
  background-color: #85b02b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px 3px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

#header-content[data-header] {
  width: 100%;
  max-width: 1920px;
  display: flex;
}
#header-content[data-header] > div {
  display: flex;
  align-items: center;
}

#header-logo[data-header] {
  margin: 0 auto 0 15px;
}
#header-logo[data-header] > img {
  height: 35px;
  color: #ffffff;
  margin-right: 5px;
}
#header-logo[data-header] > h1 {
  font-size: 1.5rem;
  cursor: default;
}

#user-menu[data-header] {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
#user-menu[data-header] > p {
  margin-right: 5px;
}
#user-menu[data-header] > .fa-bars {
  font-size: 1.7rem;
}

.menu-icon[data-header] {
  margin-right: 10px;
}
