$background: #ffffff;
$primary: #ff6347;
$secondary: #6b8e23;
$text-primary: #696969;
$text-secondary: #a9a9a9;
$border-radius: 15px;

$white: #ffffff;
$clay: #ff6347;
$grass: #6b8e23;
$dark-grey: #696969;
$light-grey: #a9a9a9;
$small-border-radius: 4px;
$big-border-radius: 15px;
